<div class="product" [ngStyle]="styleConfig" [ngClass]="{'border-green' : product.price < 50}">
  <ul>
    <li>ID: {{product.id}}</li>
    <li id="name">Name: {{product.name}}</li>
    <li *ngIf="showPrice">Preis: {{product.price}}</li>
    <li>Gewicht: {{product.weight}}</li>
  </ul>
  <input type="number" #price /> <br />
  <button (click)="changePrice(price.value)">Preis ändern</button>
  <button (click)="raisePrice()">Preis erhöhen</button><br/>
  <button (click)="togglePrice()">Preisanzeige toggeln</button>
</div>
